// Child theme variable imports (required for Grunt compilation)
@import "sass/wordpress/blocks/block-variables";

.block-menu {

    nav {}

    .nav-item {}

    .nav-link {}

    &.menu-nav {

        nav {}

        .nav-item {}

        .nav-link {
            @include font($font-stack-navs);
        }
    }

    &.menu-social {

        nav {}

        .nav-item {}

        .nav-link {}
    }

    &.menu-custom {

        nav {}

        .nav-item {}

        .nav-link {}
    }

    &:not(.nav-item-relative-mega-menu) {

        .has-mega-menu {

            .mega-menu-dropdown {}
        }
    }

    .content-wrapper & {

        .mega-menu-dropdown {}
    }

    &.nav-item-relative-mega-menu {

        .content-wrapper & {

            .mega-menu-dropdown {}
        }

        &.dropdown-hover {

            &.nav-item-relative-mega-menu {

                .content-wrapper & {

                    .mega-menu-dropdown {}
                }
            }
        }
    }

    .mega-menu-panel & {}

    .default {}

    // Responsive behavior based on navbar-expand-* breakpoint
    @each $breakpoint in map-keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($next, $grid-breakpoints);

        // Desktop: Full viewport width, absolute positioning
        .navbar-expand#{$infix} & {
            @include media-breakpoint-up($next) {}

            // Mobile: Regular dropdown behavior
            @include media-breakpoint-down($breakpoint) {}
        }
    }
}


