// Block: hero-unit - Frontend Styles
// Child theme variable imports (required for Grunt compilation)
@import "sass/wordpress/blocks/block-variables";

.hero-unit {
    position: relative;

    .overlay {
        @include cover();
    }

    > .container {
        position: relative;
    }
}
