// Breakout Contaner Single Side
.breakout-right {

  @each $name, $width in $container-max-widths {
    @if $name =='sm' {
      @include media-breakpoint-down($name) {
        width: calc(100% + (100vw - #{$width}) + #{$grid-gutter-width});
        margin-left: calc(((100vw - #{$width}) / -2) - (#{$grid-gutter-width} / 2));
      }
    }

    @else {
      @include media-breakpoint-up($name) {
        width: calc(100% + ((100vw - #{$width}) / 2) + (#{$grid-gutter-width} / 2));
        margin-right: calc(((100vw - #{$width}) / -2) - (#{$grid-gutter-width} / 2));
      }
    }
  }
}

.breakout-left {

  @each $name, $width in $container-max-widths {
    @if $name =='sm' {
      @include media-breakpoint-down($name) {
        width: calc(100% + (100vw - #{$width}) + #{$grid-gutter-width});
        margin-right: calc(((100vw - #{$width}) / -2) - (#{$grid-gutter-width} / 2));
      }
    }

    @else {
      @include media-breakpoint-up($name) {
        width: calc(100% + ((100vw - #{$width}) / 2) + (#{$grid-gutter-width} / 2));
        margin-left: calc(((100vw - #{$width}) / -2) - (#{$grid-gutter-width} / 2));
      }
    }
  }
}

// Angle Graphic
@each $name, $color in $theme-colors {

  .angle-left-#{$name} {

    &:before {
      @include absolute-position('left', 'outside');
      content: "";
      display: block;
      background-image: svg-url('<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 500" enable-background="new 0 0 60 500" xml:space="preserve"> <g> <polygon fill="#{$color}" points="60,0 60,0 60,500 0,500 0,500"/></g></svg>');
      background-repeat: no-repeat;
      background-position: right center;
      background-size: contain;
      z-index: z('site-content');
      width: 100%;
      pointer-events: none;
    }
  }

  .angle-right-#{$name} {

    &:after {
      @include absolute-position('right', 'outside');
      content: "";
      display: block;
      background-image: svg-url('<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 500" style="enable-background:new 0 0 60 500;" xml:space="preserve"> <g> <polygon fill="#{$color}" points="0,500 0,500 0,0 60,0 60,0"/> </g> </svg>');
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
      z-index: z('site-content');
      width: 100%;
      pointer-events: none;
    }
  }

}

// Bootstrap Utility overrides
.display-1 {}

.display-2 {}

.display-3 {}

.display-4 {}

.display-5 {}

.display-6 {}


// CSS Columns
.css-cols-2 {

    @include media-breakpoint-up (lg) {
        @include css-columns(2, auto);
        @include css-column-gap(24px);
        @include css-break-inside(avoid-column);
    }
}

.css-cols-3 {

    @include media-breakpoint-between (lg, xl) {
        @include css-columns(2, auto);
        @include css-column-gap(24px);
        @include css-break-inside(avoid-column);
    }

    @include media-breakpoint-up (xl) {
        @include css-columns(3, auto);
        @include css-column-gap(24px);
        @include css-break-inside(avoid-column);
    }
}

.css-cols-4 {

    @include media-breakpoint-between (lg, xl) {
        @include css-columns(2, auto);
        @include css-column-gap(24px);
        @include css-break-inside(avoid-column);
    }

    @include media-breakpoint-up (xl) {
        @include css-columns(4, auto);
        @include css-column-gap(24px);
        @include css-break-inside(avoid-column);
    }
}

.css-cols-5 {

    @include media-breakpoint-between (lg, xl) {
        @include css-columns(2, auto);
        @include css-column-gap(24px);
        @include css-break-inside(avoid-column);
    }

    @include media-breakpoint-between (xl, xxxl) {
        @include css-columns(4, auto);
        @include css-column-gap(24px);
        @include css-break-inside(avoid-column);
    }

    @include media-breakpoint-up (xxxl) {
        @include css-columns(5, auto);
        @include css-column-gap(24px);
        @include css-break-inside(avoid-column);
    }
}

.css-cols-6 {

    @include media-breakpoint-between (lg, xl) {
        @include css-columns(2, auto);
        @include css-column-gap(24px);
        @include css-break-inside(avoid-column);
    }

    @include media-breakpoint-between (xl, xxxl) {
        @include css-columns(4, auto);
        @include css-column-gap(24px);
        @include css-break-inside(avoid-column);
    }

    @include media-breakpoint-up (xxxl) {
        @include css-columns(6, auto);
        @include css-column-gap(24px);
        @include css-break-inside(avoid-column);
    }
}

// Hide backgoround image
.bg-none  {
    background-image: none !important;
}

@each $name, $width in $grid-breakpoints {
    .bg-#{$name}-none {
        @include media-breakpoint-up($name) {
            background-image: none !important;
        }
    }
    .bg-#{$name}-none-max {
        @include media-breakpoint-down($name) {
            background-image: none !important;
        }
    }
}

// Background Colors
@each $name, $variantList in $c-palette {
  @each $variant, $color in $variantList {
    @if ($variant == 'base') {
      .bg-#{"#{$name}"} {
        background-color: $color;
      }
    } @else {
      .bg-#{"#{$name}"}-#{$variant} {
        background-color: $color;
      }
    }
  }
}

// Responsive font size
@for $i from 1 through 6 {
    .font-size-#{$i} {
        font-size: var(--h#{$i}-font-size) !important;
    }
}
@each $name, $width in $grid-breakpoints {
    @for $i from 1 through 6 {
        .font-size-#{$name}-#{$i} {
            @include media-breakpoint-up($name) {
                font-size: var(--h#{$i}-font-size) !important;
            }
        }
    }
}

// Show on page load
$displays: (
  block,
  inline-block,
  inline,
  flex,
  inline-flex,
  grid,
  inline-grid,
  table,
  table-row,
  table-cell
);
@each $display in $displays {
  .show-on-load-#{$display} {
    display: none;
    visibility: hidden;

    .page-loaded & {
      display: #{$display};
      visibility: visible;
    }
  }
}
@each $name, $width in $grid-breakpoints {
  @each $display in $displays {
    .show-on-load-#{$name}-#{$display} {
      display: none;
      visibility: hidden;

      .page-loaded & {

        @include media-breakpoint-up($name) {
          display: #{$display};
          visibility: visible;
        }
      }
    }
  }
}
@each $name, $width in $grid-breakpoints {
  @each $display in $displays {
    .show-on-load-#{$name}-max-#{$display} {
      display: none;
      visibility: hidden;

      .page-loaded & {

        @include media-breakpoint-down($name) {
          display: #{$display};
          visibility: visible;
        }
      }
    }
  }
}

// Hide until page load
[class*="hide-until-load"] {
  transition-property: opacity;
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing-function;
  opacity: 0;

  .page-loaded & {
    opacity: 1;
  }
}
@each $name, $width in $grid-breakpoints {
  @each $display in $displays {
    .hide-until-load-#{$name} {
      opacity: 0;

      .page-loaded & {

        @include media-breakpoint-up($name) {
          opacity: 1;
        }
      }
    }
  }
}
@each $name, $width in $grid-breakpoints {
  .hide-until-load-#{$name}-max {
    opacity: 0;

    .page-loaded & {

      @include media-breakpoint-down($name) {
        opacity: 1;
      }
    }
  }
}

// Z Index
@each $index in $z-indexes {
  .z-#{$index} {
    z-index: z(#{$index}) !important;
  }
}

// Percentage based padding
$percentages: (
  0,
  5,
  10,
  15,
  20,
  25,
  30,
  35,
  40,
  45,
  50,
  55,
  60,
  65,
  70,
  75,
  80,
  85,
  90,
  95,
  100,
  105,
  110,
  115,
  120,
  125,
  130,
  135,
  140,
  145,
  150,
  155,
  160,
  165,
  170,
  175,
  180,
  185,
  190,
  195,
  200
);


@each $size in $percentages {
  .pp-#{$size} {
    padding: #{$size + '%'} !important;
  }
}


@each $name, $width in $grid-breakpoints {
  @each $size in $percentages {
    .pp-#{$name}-#{$size} {


      @include media-breakpoint-up($name) {
        padding: #{$size + '%'} !important;
      }
    }
  }
}


@each $size in $percentages {
  .ppt-#{$size} {
    padding-top: #{$size + '%'} !important;
  }
}


@each $name, $width in $grid-breakpoints {
  @each $size in $percentages {
    .ppt-#{$name}-#{$size} {


      @include media-breakpoint-up($name) {
        padding-top: #{$size + '%'} !important;
      }
    }
  }
}


@each $size in $percentages {
  .ppe-#{$size} {
    padding-right: #{$size + '%'} !important;
  }
}


@each $name, $width in $grid-breakpoints {
  @each $size in $percentages {
    .ppe-#{$name}-#{$size} {


      @include media-breakpoint-up($name) {
        padding-right: #{$size + '%'} !important;
      }
    }
  }
}


@each $size in $percentages {
  .ppb-#{$size} {
    padding-bottom: #{$size + '%'} !important;
  }
}


@each $name, $width in $grid-breakpoints {
  @each $size in $percentages {
    .ppb-#{$name}-#{$size} {


      @include media-breakpoint-up($name) {
        padding-bottom: #{$size + '%'} !important;
      }
    }
  }
}


@each $size in $percentages {
  .pps-#{$size} {
    padding-left: #{$size + '%'} !important;
  }
}


@each $name, $width in $grid-breakpoints {
  @each $size in $percentages {
    .pps-#{$name}-#{$size} {


      @include media-breakpoint-up($name) {
        padding-left: #{$size + '%'} !important;
      }
    }
  }
}


// Rotate 
$degs: (
  0,
  45,
  90,
  135,
  180,
  225,
  270,
  315,
  360
);

@each $deg in $degs {
  .rotate-#{$deg} {
    transform: rotate(#{$deg}deg);
  }
}

@each $name, $width in $grid-breakpoints {
  @each $deg in $degs {
    .rotate-#{$name}-#{$deg} {

      @include media-breakpoint-up($name) {
        transform: rotate(#{$deg}deg);
      }
    }
  }
}

@each $name, $width in $grid-breakpoints {
  @each $deg in $degs {
    .rotate-#{$name}-max-#{$deg} {

      @include media-breakpoint-down($name) {
        transform: rotate(#{$deg}deg);
      }
    }
  }
}

// Widths
$widths: (
  0,
  25,
  50,
  75,
  100,
);


.w-0 {
  width: 0;
}


@each $name, $width in $grid-breakpoints {
  @each $size in $widths {
    .w-#{$name}-#{$size} {


      @include media-breakpoint-up($name) {
        width: #{$size + '%'} !important;
      }
    }
  }
}


@each $name, $width in $grid-breakpoints {
  @each $size in $widths {
    .w-#{$name}-max-#{$size} {


      @include media-breakpoint-down($name) {
        width: #{$size + '%'} !important;
      }
    }
  }
}


// Min Widths
@each $size in $widths {
  .min-w-#{$size} {
    min-width: #{$size + '%'} !important;
  }
}


@each $name, $width in $grid-breakpoints {
  @each $size in $widths {
    .min-w-#{$name}-#{$size} {


      @include media-breakpoint-up($name) {
        min-width: #{$size + '%'} !important;
      }
    }
  }
}


@each $name, $width in $grid-breakpoints {
  @each $size in $widths {
    .min-w-#{$name}-max-#{$size} {


      @include media-breakpoint-down($name) {
        min-width: #{$size + '%'} !important;
      }
    }
  }
}


// Max Widths
@each $size in $widths {
  .max-w-#{$size} {
    max-width: #{$size + '%'} !important;
  }
}


@each $name, $width in $grid-breakpoints {
  @each $size in $widths {
    .max-w-#{$name}-#{$size} {


      @include media-breakpoint-up($name) {
        max-width: #{$size + '%'} !important;
      }
    }
  }
}


@each $name, $width in $grid-breakpoints {
  @each $size in $widths {
    .max-w-#{$name}-max-#{$size} {


      @include media-breakpoint-down($name) {
        max-width: #{$size + '%'};
      }
    }
  }
}


// Heights
$heights: (
  0,
  25,
  50,
  75,
  100,
);


.h-0 {
  height: 0;
}


@each $name, $width in $grid-breakpoints {
  @each $size in $heights {
    .h-#{$name}-#{$size} {


      @include media-breakpoint-up($name) {
        height: #{$size + '%'} !important;
      }
    }
  }
}


@each $name, $width in $grid-breakpoints {
  @each $size in $heights {
    .h-#{$name}-max-#{$size} {


      @include media-breakpoint-down($name) {
        height: #{$size + '%'} !important;
      }
    }
  }
}


// Min Heights
@each $size in $heights {
  .min-h-#{$size} {
    min-height: #{$size + '%'} !important;
  }
}


@each $name, $width in $grid-breakpoints {
  @each $size in $heights {
    .min-h-#{$name}-#{$size} {


      @include media-breakpoint-up($name) {
        min-height: #{$size + '%'} !important;
      }
    }
  }
}


@each $name, $width in $grid-breakpoints {
  @each $size in $heights {
    .min-h-#{$name}-max-#{$size} {


      @include media-breakpoint-down($name) {
        min-height: #{$size + '%'} !important;
      }
    }
  }
}


// Max Heights
@each $size in $heights {
  .max-h-#{$size} {
    max-height: #{$size + '%'} !important;
  }
}


@each $name, $height in $grid-breakpoints {
  @each $size in $heights {
    .max-h-#{$name}-#{$size} {


      @include media-breakpoint-up($name) {
        max-height: #{$size + '%'} !important;
      }
    }
  }
}


@each $name, $height in $grid-breakpoints {
  @each $size in $heights {
    .max-h-#{$name}-max-#{$size} {


      @include media-breakpoint-down($name) {
        max-height: #{$size + '%'} !important;
      }
    }
  }
}


// Viewport Widths
$viewport-widths: (
  0,
  25,
  50,
  75,
  100,
);


.vw-0 {
  width: 0;
}


@each $name, $width in $grid-breakpoints {
  @each $size in $viewport-widths {
    .vw-#{$name}-#{$size} {


      @include media-breakpoint-up($name) {
        width: #{$size + 'vw'} !important;
      }
    }
  }
}


@each $name, $width in $grid-breakpoints {
  @each $size in $viewport-widths {
    .vw-#{$name}-max-#{$size} {


      @include media-breakpoint-down($name) {
        width: #{$size + 'vw'} !important;
      }
    }
  }
}


// Min Viewport Widths
@each $size in $viewport-widths {
  .min-vw-#{$size} {
    min-width: #{$size + 'vw'} !important;
  }
}


@each $name, $width in $grid-breakpoints {
  @each $size in $viewport-widths {
    .min-vw-#{$name}-#{$size} {


      @include media-breakpoint-up($name) {
        min-width: #{$size + 'vw'} !important;
      }
    }
  }
}


@each $name, $width in $grid-breakpoints {
  @each $size in $viewport-widths {
    .min-vw-#{$name}-max-#{$size} {


      @include media-breakpoint-down($name) {
        min-width: #{$size + 'vw'} !important;
      }
    }
  }
}


// Max Viewport Widths
@each $size in $viewport-widths {
  .max-vw-#{$size} {
    max-width: #{$size + 'vw'} !important;
  }
}


@each $name, $width in $grid-breakpoints {
  @each $size in $viewport-widths {
    .max-vw-#{$name}-#{$size} {


      @include media-breakpoint-up($name) {
        max-width: #{$size + 'vw'} !important;
      }
    }
  }
}


@each $name, $width in $grid-breakpoints {
  @each $size in $viewport-widths {
    .max-vw-#{$name}-max-#{$size} {


      @include media-breakpoint-down($name) {
        max-width: #{$size + 'vw'} !important;
      }
    }
  }
}


// Viewport Heights
$viewport-heights: (
  0,
  25,
  50,
  75,
  100,
);


.vh-0 {
  height: 0;
}


@each $name, $width in $grid-breakpoints {
  @each $size in $viewport-heights {
    .vh-#{$name}-#{$size} {


      @include media-breakpoint-up($name) {
        height: #{$size + 'vh'} !important;
      }
    }
  }
}


@each $name, $width in $grid-breakpoints {
  @each $size in $viewport-heights {
    .vh-#{$name}-max-#{$size} {


      @include media-breakpoint-down($name) {
        height: #{$size + 'vh'} !important;
      }
    }
  }
}


// Min Viewport Heights
@each $size in $viewport-heights {
  .min-vh-#{$size} {
    min-height: #{$size + 'vh'} !important;
  }
}


@each $name, $width in $grid-breakpoints {
  @each $size in $viewport-heights {
    .min-vh-#{$name}-#{$size} {


      @include media-breakpoint-up($name) {
        min-height: #{$size + 'vh'} !important;
      }
    }
  }
}


@each $name, $width in $grid-breakpoints {
  @each $size in $viewport-heights {
    .min-vh-#{$name}-max-#{$size} {


      @include media-breakpoint-down($name) {
        min-height: #{$size + 'vh'} !important;
      }
    }
  }
}


// Max Viewport Heights
@each $size in $viewport-heights {
  .max-vh-#{$size} {
    max-height: #{$size + 'vh'} !important;
  }
}


@each $name, $width in $grid-breakpoints {
  @each $size in $viewport-heights {
    .max-vh-#{$name}-#{$size} {


      @include media-breakpoint-up($name) {
        max-height: #{$size + 'vh'} !important;
      }
    }
  }
}


@each $name, $width in $grid-breakpoints {
  @each $size in $viewport-heights {
    .max-vh-#{$name}-max-#{$size} {


      @include media-breakpoint-down($name) {
        max-height: #{$size + 'vh'} !important;
      }
    }
  }
}


// Addtional display classes
$displays: (
  'contents',
  'flow-root',
  'list-item',
  'inherit',
  'initial',
  'revert',
  'revert-layer',
  'unset'
);


@each $display in $displays {
  .d-#{$display} {
    display: #{$display} !important;
  }
}

@each $name, $width in $grid-breakpoints {
  @each $display in $displays {
    .d-#{$name}-#{$display} {

      @include media-breakpoint-up($name) {
        display: #{$display} !important;
      }
    }
  }
}

@each $name, $width in $grid-breakpoints {
  @each $display in $displays {
    .d-#{$name}-max-#{$display} {

      @include media-breakpoint-down($name) {
        display: #{$display} !important;
      }
    }
  }
}

// VIEWPORT BASED POSITIONS
$viewport-positions: (
  0,
  25,
  50,
  75,
  100
);


// Top Height
@each $position in $viewport-positions {
  .top-vh-#{$position} {
    top: #{$position + 'vh'} !important;
  }
}

// Top Height Min Width
@each $name, $width in $grid-breakpoints {
  @each $position in $viewport-positions {
    .top-vh-#{$name}-#{$position} {

      @include media-breakpoint-up($name) {
        top: #{$position + 'vh'} !important;
      }
    }
  }
}

// Top Height Max Width
@each $name, $width in $grid-breakpoints {
  @each $position in $viewport-positions {
    .top-vh-#{$name}-max-#{$position} {

      @include media-breakpoint-down($name) {
        top: #{$position + 'vh'} !important;
      }
    }
  }
}


// Bottom Height
@each $position in $viewport-positions {
  .bottom-vh-#{$position} {
    bottom: #{$position + 'vh'} !important;
  }
}

// Bottom Height Min Width
@each $name, $width in $grid-breakpoints {
  @each $position in $viewport-positions {
    .bottom-vh-#{$name}-#{$position} {

      @include media-breakpoint-up($name) {
        bottom: #{$position + 'vh'} !important;
      }
    }
  }
}

// Bottom Height Max Width
@each $name, $width in $grid-breakpoints {
  @each $position in $viewport-positions {
    .bottom-vh-#{$name}-max-#{$position} {

      @include media-breakpoint-down($name) {
        bottom: #{$position + 'vh'} !important;
      }
    }
  }
}


// Left Height
@each $position in $viewport-positions {
  .left-vh-#{$position} {
    left: #{$position + 'vh'} !important;
  }
}

// Left Height Min Width
@each $name, $width in $grid-breakpoints {
  @each $position in $viewport-positions {
    .left-vh-#{$name}-#{$position} {

      @include media-breakpoint-up($name) {
        left: #{$position + 'vh'} !important;
      }
    }
  }
}

// Left Height Max Width
@each $name, $width in $grid-breakpoints {
  @each $position in $viewport-positions {
    .left-vh-#{$name}-max-#{$position} {

      @include media-breakpoint-down($name) {
        left: #{$position + 'vh'} !important;
      }
    }
  }
}


// Right Height
@each $position in $viewport-positions {
  .right-vh-#{$position} {
    right: #{$position + 'vh'} !important;
  }
}

// Right Height Min Width
@each $name, $width in $grid-breakpoints {
  @each $position in $viewport-positions {
    .right-vh-#{$name}-#{$position} {

      @include media-breakpoint-up($name) {
        right: #{$position + 'vh'} !important;
      }
    }
  }
}

// Right Height Max Width
@each $name, $width in $grid-breakpoints {
  @each $position in $viewport-positions {
    .right-vh-#{$name}-max-#{$position} {

      @include media-breakpoint-down($name) {
        right: #{$position + 'vh'} !important;
      }
    }
  }
}


// Top Width
@each $position in $viewport-positions {
  .top-vw-#{$position} {
    top: #{$position + 'vw'} !important;
  }
}

// Top Width Min Width
@each $name, $width in $grid-breakpoints {
  @each $position in $viewport-positions {
    .top-vw-#{$name}-#{$position} {

      @include media-breakpoint-up($name) {
        top: #{$position + 'vw'} !important;
      }
    }
  }
}

// Top Width Max Width
@each $name, $width in $grid-breakpoints {
  @each $position in $viewport-positions {
    .top-vw-#{$name}-max-#{$position} {

      @include media-breakpoint-down($name) {
        top: #{$position + 'vw'} !important;
      }
    }
  }
}


// Bottom Width
@each $position in $viewport-positions {
  .bottom-vw-#{$position} {
    bottom: #{$position + 'vw'} !important;
  }
}

// Bottom Width Min Width
@each $name, $width in $grid-breakpoints {
  @each $position in $viewport-positions {
    .bottom-vw-#{$name}-#{$position} {

      @include media-breakpoint-up($name) {
        bottom: #{$position + 'vw'} !important;
      }
    }
  }
}

// Bottom Width Max Width
@each $name, $width in $grid-breakpoints {
  @each $position in $viewport-positions {
    .bottom-vw-#{$name}-max-#{$position} {

      @include media-breakpoint-down($name) {
        bottom: #{$position + 'vw'} !important;
      }
    }
  }
}


// Left Width
@each $position in $viewport-positions {
  .left-vw-#{$position} {
    left: #{$position + 'vw'} !important;
  }
}

// Left Width Min Width
@each $name, $width in $grid-breakpoints {
  @each $position in $viewport-positions {
    .left-vw-#{$name}-#{$position} {

      @include media-breakpoint-up($name) {
        left: #{$position + 'vw'} !important;
      }
    }
  }
}

// Left Width Max Width
@each $name, $width in $grid-breakpoints {
  @each $position in $viewport-positions {
    .left-vw-#{$name}-max-#{$position} {

      @include media-breakpoint-down($name) {
        left: #{$position + 'vw'} !important;
      }
    }
  }
}


// Right Width
@each $position in $viewport-positions {
  .right-vw-#{$position} {
    right: #{$position + 'vw'} !important;
  }
}

// Right Width Min Width
@each $name, $width in $grid-breakpoints {
  @each $position in $viewport-positions {
    .right-vw-#{$name}-#{$position} {

      @include media-breakpoint-up($name) {
        right: #{$position + 'vw'} !important;
      }
    }
  }
}

// Right Width Max Width
@each $name, $width in $grid-breakpoints {
  @each $position in $viewport-positions {
    .right-vw-#{$name}-max-#{$position} {

      @include media-breakpoint-down($name) {
        right: #{$position + 'vw'} !important;
      }
    }
  }
}