// Transitions
$transition-short: 200ms;
$transition-medium: 500ms;
$transition-long: 600ms;
$global-transition-properties: var(--global-transition-properties);
$transition-duration: var(--global-transition-duration);
$transition-timing-function: var(--global-transition-timing-function);
