// Transitions
$global-transition-properties: var(--global-transition-properties);
$transition-duration:         var(--global-transition-duration);
$transition-timing-function:  var(--global-transition-timing-function);
