// Custom Button Variables
// Button mixin in non-printing/mixins/_content-utilities.scss
// Example usage:
//  @include button();
$btnBackgroundColor: var(--button-bg);
$btnBackgroundHoverColor: var(--button-bg-hover);
$btnBorderTopColor: var(--button-border-top);
$btnBorderBottomColor: var(--button-border-bottom);
$btnBorderLeftColor: var(--button-border-left);
$btnBorderRightColor: var(--button-border-right);
$btnBorderTopHoverColor: var(--button-border-top-hover);
$btnBorderBottomHoverColor: var(--button-border-bottom-hover);
$btnBorderLeftHoverColor: var(--button-border-left-hover);
$btnBorderRightHoverColor: var(--button-border-right-hover);
$btnBorderTopWidth: var(--button-border-top-width);
$btnBorderBottomWidth: var(--button-border-bottom-width);
$btnBorderLeftWidth: var(--button-border-left-width);
$btnBorderRightWidth: var(--button-border-right-width);
$btnBorderTopWidthHover: var(--button-border-top-width-hover);
$btnBorderBottomWidthHover: var(--button-border-bottom-width-hover);
$btnBorderLeftWidthHover: var(--button-border-left-width-hover);
$btnBorderRightWidthHover: var(--button-border-right-width-hover);
$btnBorderTopStyle: var(--button-border-top-style);
$btnBorderBottomStyle: var(--button-border-bottom-style);
$btnBorderLeftStyle: var(--button-border-left-style);
$btnBorderRightStyle: var(--button-border-right-style);
$btnBorderTopStyleHover: var(--button-border-top-style-hover);
$btnBorderBottomStyleHover: var(--button-border-bottom-style-hover);
$btnBorderLeftStyleHover: var(--button-border-left-style-hover);
$btnBorderRightStyleHover: var(--button-border-right-style-hover);
$btnBorderTopLeftRadius: var(--button-border-top-left-radius);
$btnBorderTopRightRadius: var(--button-border-top-right-radius);
$btnBorderBottomLeftRadius: var(--button-border-bottom-left-radius);
$btnBorderBottomRightRadius: var(--button-border-bottom-right-radius);
$btnBorderTopLeftRadiusHover: var(--button-border-top-left-radius-hover);
$btnBorderTopRightRadiusHover: var(--button-border-top-right-radius-hover);
$btnBorderBottomLeftRadiusHover: var(--button-border-bottom-left-radius-hover);
$btnBorderBottomRightRadiusHover: var(--button-border-bottom-right-radius-hover);
$btnColor: var(--button-text);
$btnColorHover: var(--button-text-hover);
$btnFontFamily: var(--button-font-family);
$btnFontSize: var(--button-font-size);
$btnFontWeight: var(--button-font-weight);
$btnFontStyle: var(--button-font-style);
$btnLetterSpacing: var(--button-letter-spacing);
$btnLineHeight: var(--button-line-height);
$btnLabelFontSize: var(--button-label-font-size);
$btnLabelLineHeight: var(--button-label-line-height);
$btnTextTransform: var(--button-text-transform);
$btnPadding: var(--button-vertical-padding) var(--button-horizontal-padding);
$btnFontFamilyHover: var(--button-font-family-hover);
$btnFontSizeHover: var(--button-font-size-hover);
$btnFontWeightHover: var(--button-font-weight-hover);
$btnFontStyleHover: var(--button-font-style-hover);
$btnLetterSpacingHover: var(--button-letter-spacing-hover);
$btnLineHeightHover: var(--button-line-height-hover);
$btnLabelFontSizeHover: var(--button-label-font-size-hover);
$btnLabelLineHeightHover: var(--button-label-line-height-hover);
$btnTextTransformHover: var(--button-text-transform-hover);
$btnPaddingHover: var(--button-vertical-padding-hover) var(--button-horizontal-padding-hover);
$btnBoxShadowX: var(--button-box-shadow-x);
$btnBoxShadowY: var(--button-box-shadow-y);
$btnBoxShadowBlur: var(--button-box-shadow-blur);
$btnBoxShadowSpread: var(--button-box-shadow-spread);
$btnBoxShadowColor: var(--button-box-shadow-color);
$btnBoxShadowHoverX: var(--button-box-shadow-hover-x);
$btnBoxShadowHoverY: var(--button-box-shadow-hover-y);
$btnBoxShadowHoverBlur: var(--button-box-shadow-hover-blur);
$btnBoxShadowHoverSpread: var(--button-box-shadow-hover-spread);
$btnBoxShadowHoverColor: var(--button-box-shadow-hover-color);
$btnTextShadowX: var(--button-text-shadow-x);
$btnTextShadowY: var(--button-text-shadow-y);
$btnTextShadowBlur: var(--button-text-shadow-blur);
$btnTextShadowColor: var(--button-text-shadow-color);
$btnTextShadowHoverX: var(--button-text-shadow-hover-x);
$btnTextShadowHoverY: var(--button-text-shadow-hover-y);
$btnTextShadowHoverBlur: var(--button-text-shadow-hover-blur);
$btnTextShadowHoverColor: var(--button-text-shadow-hover-color);