// Z Indexes
// Example Usage
// .modal { z-index: z(modal); }
// .site-nav { z-index: z(site-nav); }
// .site-header { z-index: z(site-header); }
// .site-content { z-index: z(site-content); }
// .site-footer { z-index: z(site-footer; }
// @link https://engageinteractive.co.uk/blog/time-saving-sass-functions
$z-indexes: (
 'toast',
 'modal',
 'modal-backdrop',
 'skip-nav',
 'alert',
 'dropdown',
 'site-nav',
 'site-header',
 'site-overlay',
 'site-notifications',
 'dropdown-backdrop',
 'site-content',
 'prefooter',
 'site-footer'
);
